<header>
    <nav>
        <div class="logo">
            <span>adamkeyes</span>
        </div>
        <div class="nav-icons">
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </nav>
    <div class="container">
        <div class="rings">
            <img class="img-rings" src="/pattern-rings (2).svg" alt="">
        </div>
        <div class="text">
            <p class="intro">Nice to meet you!<br>I'm<span> Adam Keyes</span>.</p>
            <p class="about">Based in the UK, I'm a front-end developer<br>passionate about building accessible web apps<br>that users love.</p>
            <a href="#"><span>CONTACT ME</span></a>
        </div>
        <div class="img">
            <img class="guy-picture" src="/image-profile-desktop.webp" alt="">
        </div>
    </div>
    
</header>


