@import '../main/variables.scss';

main {
    border-top: 1px solid $white;
    max-width: 1240px;
    margin: auto;
    padding-top: 10dvh;

    .projects {
        padding-top: 15dvh;
        max-width: 1240px;
        margin: auto;
        background-color: $primaryBlack;

        h2 {
            font-size: 4rem;
            margin-bottom: 5dvh;
        }
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5dvh;
        background-color: $primaryBlack;
        text-align: center;

        .card-technology {
            font-size: 4rem;
            font-weight: 500;
            color: $white;
        }

        .card-experience {
            font-size: 1.5rem;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (width >= 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 5dvh;

        .card {
            text-align: center;

            .card-title {
                font-size: 2rem;
                font-weight: 500;
                color: $white;
            }

            .card-tech {
                font-size: 1.3rem;
            }
        }

        div {
            a {
                margin-right: 2dvh;
                border-bottom: 2px solid $green;
            }
        }
    }
}

@media (width >= 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (width <= 768px) {
    .card-technology {
        font-size: 1.5rem !important;
        text-align: center;
    }

    .card-experience {
        font-size: 1rem !important;
        text-align: center;
    }
}

@media (width <= 768px) {
    .grid {
        margin: 1dvh 1dvh !important;
        padding: 1dvh 1dvh;

        .card {
            text-align: center;

            a {
                margin-right: 2dvh;
            }
        }
    }
}