<div>
    <div class="form-container">
        <div class="form-text">
            <h3>Contact</h3>
            <p>I would love to hear about your project and how I<br>could help. Please fill in the form, and I'll get back<br>to you as soon as possible.</p>
        </div>
        <form action="https://formsubmit.co/marcobaruco2091@gmail.com" method="POST" class="form">
            <div class="form" data-aos="fade-left" data-aos-duration="2000">
                <div class="name">
                    <p>NAME</p>
                    <input type="text" name="text" id="text" required>
                </div>
                <div class="email">
                    <p>EMAIL</p>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="message">
                    <p>MESSAGE</p>
                    <textarea name="msg" id="msg" required></textarea>
                </div>
                <input type="hidden" name="_captcha" value="false" />
                <div class="send-msg-btn">
                    <button class="submit-btn" type="submit">SEND MESSAGE</button>
                </div>
            </div>
        </form>
    </div>
</div>

