@import '../form/variables.scss';

div {
    background-color: $primaryGrey;
    padding-top: 2dvh;
    margin-top: 4dvh;

    .form-container {
        display: flex;
        flex-direction: column;
        max-width: 1240px;
        margin: auto;
        border-bottom: 1px solid $primaryWhite;

        .form-text {
            flex: 1;
            position: relative;

            h3 {
                color: $primaryWhite;
                font-size: 4rem;
                font-weight: 600;
                font-family: 'Poppins', serif;
            }

            img {
                position: absolute;
                left: -60dvh;
                margin-top: 10dvh;
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1;
    
            .name, .email, .message {
                display: flex;
    
                p {
                    margin-top: 2dvh;
                    margin-right: 2dvh;
                    color: $grey;
                    text-align: center;
                }
    
                #text, #email, #msg {
                    width: 50dvh;
                    border: none;
                    background-color: transparent;
                    border-bottom: 1px solid $white;
                    color: $white;
                    font-family: 'Poppins', serif;
                }
    
                #text, #email {
                    height: 10dvh;
                }
    
                #msg {
                    height: 30dvh;
                }
            }
    
            .send-msg-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                
                .submit-btn {
                    margin-top: 3dvh;
                    margin-bottom: 3dvh;
                    color: $primaryWhite;
                    background-color: transparent;
                    border: none;
                    transition: color .8s, border-bottom .8s;
                }
    
                .submit-btn:hover {
                    color: $green;
                    border-bottom: 2px solid $green;
                }
            }
        }
    }
}

@media (width <= 768px) {
    .form-container {
        display: flex;
        flex-direction: row;
        margin: 1dvh 1dvh !important;
        text-align: center;

        h3 {
            font-size: 2rem !important;
        }

        img {
            display: none;
        }

        #text, #email, #msg {
            width: 90% !important;
        }
    }
}
